@{
    ViewData["Title"] = "Home Page";
}

    <form action="../home/GetPlanetById" method="post">
        <input type="number" name="id" min="1" max="61"/>
        <input type="submit" name="submit" value="Submit to search for planet by ID" />
    </form>
    <form action="../home/GetPeopleById" method="post">
        <input type="number" name="id" min="1" max="88"/>
        <input type="submit" name="submit" value="Submit to search for person by ID" />
    </form>
